.hero {
  padding-top: 44px;
  max-height: 876px;
  background-image: url("/7237492031/9337378.webp");
}

.glass {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 1),
    rgba(253, 230, 235, 0)
  );
  backdrop-filter: blur(16px);
}
