@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-[#2b2b2b];
  }
}

@layer utilities {
  .bg-pink {
    background-color: #da294f;
  }

  .text-accent {
    color: #da294f;
  }

  .pink-border {
    border-color: #da294f;
  }
  .footer-text {
    color: #757575;
  }
}
